@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

.container {
  @apply mx-auto px-4
}

.bg-hero {
  @apply bg-cover bg-center;
  background-image: url(/img/img-banner.jpg);
}

.bg-newsletter {
  @apply bg-cover bg-center;
  background-image: url(/img/background-newsletter.webp);
}

.btn-paginated {
	@apply border border-slate-700 rounded-md font-semibold text-xs py-1 px-3 hover:bg-slate-700 hover:text-white transition-all disabled:opacity-50 disabled:cursor-not-allowed disabled:border-slate-800 disabled:text-slate-800 disabled:hover:bg-white disabled:hover:text-slate-700 cursor-pointer;
}

html, body {
  @apply font-montserrat;
}
